* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  margin: 0;
}

h2 {
  text-align: center;
  color: #11274E;
  padding-top: 30px;
  padding-bottom: 20px;
}
a {
  color: #e3bd19;
}
/* .side {
  text-align: left;
} */

.hero {
  height: 80vh;
  background-image: url(../images/code.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  
}
span {
  color: #e3bd19;
  font-style: italic;
}
.nav {
  justify-content: space-between; 
  padding-top: 10px;
  padding-bottom: 10px;  
  background-color:#128FA3;
 
}
.navbar {
  width: 50%;
  display: flex;
  justify-content: space-around;  
}
.navbar ul > li {
  list-style: none;
  display: inline;
  text-align: center;
}
.introduction{
  padding-top: 80px;
}
.intro{
  padding-top: 40px;
}

/* about me styling */


.card{
  background-color: #E6F6F5;
}


@media screen and (max-width: 768px) {
  .about {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .ppic {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .img {
    width: 100% !important;
  }
}


/* github projects section */
.github-projects {  
  text-align: center;
  height: 70vh;
}
.project {
  background-color: #E6F6F5;
  width: 25%;
  margin: auto;  
  border-radius: 50px;
}
.project>p {
padding-top: 10px;
}  
.top-projects{
  height: 30vh;
}
.bottom-projects{
  height: 30vh;
}





/* hobbies */
.hobbies {
  display: flex;
}
.hobbies-info {
  width: 60%;  
}
.swim {
  width: 40%; 
}
/* footer */
.footer{
  background-color: #128FA3;
  color: white;
}

