* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  margin: 0;
}

h2 {
  text-align: center;
  color: #0e9094;
}
a {
  color: #69bcb8;
}
.side {
  text-align: left;
}

.hero {
  height: 50vh;
  border: 1px solid black;
  background-color: #e4e5e7;
  text-align: center;
}
span {
  color: #e3bd19;
  font-style: italic;
}
.nav {
  justify-content: space-between;
}
.navbar {
  width: 50%;
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
}
.navbar ul > li {
  list-style: none;
  display: inline;
  text-align: center;
}

/* about me styling */
.about {
  border: 1px solid black;
  display: flex;
}
@media screen and (max-width: 768px) {
  .about {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .ppic {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .img {
    width: 100% !important;
  }
}
.ppic {
  border: 1px solid black;
  width: 30%;
}

.about-me {
  width: 50%;
}
.greeting {
  position: relative;
  text-align: center;
  border: 1px solid black;
  top: 200%;
}

/* github projects section */
.github-projects {
  border: 1px solid black;
  text-align: center;
}
.top-projects {
  display: flex;
}
.bottom-projects {
  display: flex;
}
.project {
  width: 20%;
  margin: auto;
  border: 1px solid black;
}


/* hobbies */
.hobbies-interests {
  border: 1px solid black;
}
.hobbies {
  display: flex;
}
.hobbies-info {
  width: 60%;
  border: 1px solid black;
}
.swim {
  width: 40%;
  border: 1px solid black;
}
/* skills */
.skills {
  border: 1px solid black;
}
.footer {
  border: 1px solid black;
}
