* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  margin: 0;
}

h2 {
  text-align: center;
  color: #11274E; 
}
a {
  color: #e3bd19;
}
/* .side {
  text-align: left;
} */

.hero {
  height: 100vh;
  background-image: url(../images/code.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  font-weight: 900;
  
}
span {
  color: #e3bd19;
  font-style: italic;
}
.nav {
  justify-content: space-between; 
  padding-top: 10px;    
  
 
}
.navbar {
  width: 50%;
  display: flex;
  justify-content: space-around; 
}
.navbar ul > li {
  list-style: none;
  display: inline;
  text-align: center;
  padding-left: 80px;
}
.introduction{
  padding-top: 80px; 
}
.intro{
  padding-top: 40px;
  font-size: 50px;
}
@media screen and (max-width: 768px) {
  .hero{
    font-weight: bold;
    height: 50vh;
  }
  .intro{
    font-size: 30px;
  }
  .navbar{
    display: none;
  }
  .introduction{
    padding-top: 40px;
  }
}


/* about me styling */
.cont{
  display: flex;   
}
.ppic{
  width: 30%;
}
.about{
  width: 80%;
}
.card{
  background-color: #E6F6F5;
}
.about-details{
  height: 60%; 
}
.about-details>p{
  font-size: 20px;
}
.skills{
  height: 20vh;
}
.top{
  height: 10vh;
}
.bottom{
  height: 10vh;
}
.skills-icons{
  text-align: center;
}

@media screen and (max-width: 768px) {  
  .cont {
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    align-items: center;       
  }
  .ppic {
    display: none;      
  }  
  .about{
    width: 100%;
  }
  .about-details{
    height: 40%; 
  }
  .about-details>p{
    font-size: 15px;
  }
  .skills-icons{
    display: flex;
    text-align: center; 
  } 
}

/* github projects section */
.github-projects {  
  text-align: center;
  height: 70vh;
  margin-top: 40px;
}
.project {
  background-color: #E6F6F5;
  width: 25%;
  margin: auto;  
  border-radius: 50px;
}
.project>p {
padding-top: 10px;
}  
.top-projects{
  height: 30vh;
}
.bottom-projects{
  height: 30vh;
}
@media screen and (max-width: 768px){
  .github-projects{
    height: 100vh;
  }
  .top-projects{
    margin-bottom: 90px;
    margin-top: 20px;
  }
  .bottom-projects{
    display: flex;
    flex-direction: column;
  }
}

/* hobbies */
.hobbies {
  display: flex;  
}
.hobbies-info {
  width: 60%;  
}
.swim {
  width: 40%; 
}
.hobbies-interests{
  margin-top: 10px;
  margin-bottom: 50px;
}
@media screen and (max-width: 768px)
{
  .hobbies{
    flex-direction: column;
    width: 100%;
  }
  .swim>img{
    width: 460px;
  }
}


/* footer */
.footer{
  background-color: #128FA3;
  color: white;
}



